<mat-toolbar class="mb-1">
  <span>Create new order</span>
  <span class="toolbar-spacer"></span>
  <button
    mat-raised-button
    style="margin-right: 1rem"
    color="primary"
    (click)="orderForm.ngSubmit.emit()"
    form="orderForm"
  >
    Create
  </button>
  <a mat-raised-button [routerLink]="['/orders']">Cancel</a>
</mat-toolbar>

<div class="content-wrapper">
  <!-- FORM START -->
  <form #orderForm="ngForm" (ngSubmit)="createOrder()" [formGroup]="orderGroup">
    <p>
      <mat-form-field appearance="fill">
        <mat-label>OMS ID</mat-label>
        <input matInput type="text" formControlName="omsId" required />
      </mat-form-field>
    </p>
    <!-- DYNAMIC PRODUCTS -->
    <div class="order-products">
      <h2>Products</h2>
      <button mat-flat-button color="primary" (click)="addProduct()">
        <mat-icon>add</mat-icon>Add product
      </button>
    </div>
    <div
      class="order-products-item"
      formArrayName="products"
      *ngFor="let product of products().controls; let i = index"
    >
      <div [formGroupName]="i">
        <mat-form-field appearance="fill">
          <mat-label>GTIN</mat-label>
          <input matInput type="text" formControlName="gtin" />
          <mat-hint>14 characters</mat-hint>
          <mat-error *ngIf="product.get('gtin')?.errors">
            {{ product.get("gtin")?.hasError("required") ? "Required" : "" }}
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Quantity</mat-label>
          <input matInput type="number" formControlName="quantity" min="1" />
          <mat-error *ngIf="product.get('quantity')?.errors">
            {{
              product.get("quantity")?.hasError("required") ? "Required" : ""
            }}
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Serial Number Type</mat-label>
          <input matInput type="text" formControlName="serialNumberType" />
          <mat-error *ngIf="product.get('serialNumberType')?.errors">
            {{
              product.get("serialNumberType")?.hasError("required")
                ? "Required"
                : ""
            }}
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" style="width: 300px">
          <mat-label>Serial Numbers (seperate by coma ',')</mat-label>
          <textarea
            matInput
            cols="30"
            rows="1"
            formControlName="serialNumbers"
          ></textarea>
          <mat-hint>325215235,5321525312,...</mat-hint>
          <mat-error *ngIf="product.get('serialNumbers')?.errors">
            {{
              product.get("serialNumbers")?.hasError("required")
                ? "Required"
                : ""
            }}
          </mat-error>
        </mat-form-field>

        <!-- Button to delete product -->
        <button
          class="remove-product-btn"
          mat-icon-button
          color="warn"
          (click)="removeProduct(i)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
    <!-- END DYNAMIC PRODUCTS -->
    <!-- ORDER DETAILS -->
    <div class="order-products">
      <h2>
        Order details (optional)
        <mat-slide-toggle
          [ngModelOptions]="{ standalone: true }"
          [(ngModel)]="enableDetails"
          (ngModelChange)="setDetailsValidators()"
          >{{ enableDetails ? "Enabled" : "Disabled" }}</mat-slide-toggle
        >
      </h2>
    </div>
    <div *ngIf="enableDetails" formGroupName="orderDetails">
      <p>
        <mat-form-field>
          <mat-label>Factory ID (GLN)</mat-label>
          <input matInput type="text" formControlName="factoryId" />
          <mat-error *ngIf="orderDetails().get('factoryId')?.errors">
            {{
              orderDetails().get("factoryId")?.hasError("required")
                ? "Required"
                : ""
            }}
          </mat-error>
        </mat-form-field>

        <mat-form-field style="width: 250px">
          <mat-label>Factory Name</mat-label>
          <input matInput type="text" formControlName="factoryName" />
          <mat-error *ngIf="orderDetails().get('factoryName')?.errors">
            {{
              orderDetails().get("factoryName")?.hasError("required")
                ? "Required"
                : ""
            }}
          </mat-error>
        </mat-form-field>

        <mat-form-field style="width: 400px">
          <mat-label>Factory Address</mat-label>
          <input matInput type="text" formControlName="factoryAddress" />
          <mat-error *ngIf="orderDetails().get('factoryAddress')?.errors">
            {{
              orderDetails().get("factoryAddress")?.hasError("required")
                ? "Required"
                : ""
            }}
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Factory Country</mat-label>
          <mat-select formControlName="factoryCountry">
            <mat-option
              *ngFor="let country of countries"
              [value]="country.name"
            >
              {{ country.name }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="orderDetails().get('factorayCountry')?.errors">
            {{
              orderDetails().get("factorayCountry")?.hasError("required")
                ? "Required"
                : ""
            }}
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>PO Number</mat-label>
          <input matInput type="text" formControlName="poNumber" />
          <mat-error *ngIf="orderDetails().get('poNumber')?.errors">
            {{
              orderDetails().get("poNumber")?.hasError("required")
                ? "Required"
                : ""
            }}
          </mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
          <mat-label>Line Identifier</mat-label>
          <input matInput type="text" formControlName="productionLineId" />
          <mat-error *ngIf="orderDetails().get('productionLineId')?.errors">
            {{
              orderDetails().get("productionLineId")?.hasError("required")
                ? "Required"
                : ""
            }}
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Product Code</mat-label>
          <input matInput type="text" formControlName="productCode" />
          <mat-error *ngIf="orderDetails().get('productCode')?.errors">
            {{
              orderDetails().get("productCode")?.hasError("required")
                ? "Required"
                : ""
            }}
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Expected Start Date</mat-label>
          <input matInput [matDatepicker]="expectedStartDatePicker" />
          <mat-datepicker-toggle
            matSuffix
            [for]="expectedStartDatePicker"
          ></mat-datepicker-toggle>
          <mat-datepicker #expectedStartDatePicker></mat-datepicker>
          <mat-error
            *ngIf="orderDetails().get('expectedStartDatePicker')?.errors"
          >
            {{
              orderDetails()
                .get("expectedStartDatePicker")
                ?.hasError("required")
                ? "Required"
                : ""
            }}
          </mat-error>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field style="width: 600px">
          <mat-label>Product Description</mat-label>
          <textarea
            matInput
            cols="30"
            rows="10"
            formControlName="productDescription"
          ></textarea>
        </mat-form-field>
      </p>
    </div>
    <!-- END ORDER DETAILS -->
  </form>
  <!-- END FORM -->
</div>
