.toolbar-spacer {
  flex: 1 1 auto;
}

.content-wrapper {
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  background-color: #fff;
  margin-top: 1rem;
}

.order-products {
  display: flex;
  justify-content: space-between;
}

.order-products-item > div {
  display: flex;
  align-items: flex-start;
  border-top: 1px solid #999999;
  padding: 0.5rem 0.25rem;
  margin-top: 0.5rem;
}

.mat-form-field {
  margin-right: 0.5rem;
}

.remove-product-btn {
  margin-left: auto;
}
