<mat-toolbar class="mb-1">
  <span
    >Order - {{ orderId }} | Exp. completion time:
    {{ order.expectedCompletionTime }}</span
  >
  <span class="toolbar-spacer"></span>
  <a mat-raised-button [routerLink]="['/orders']" style="margin-right: 0.5rem"
    ><mat-icon>arrow_back</mat-icon> Back</a
  >
  <a mat-raised-button [routerLink]="['/orders/edit/' + orderId]"
    ><mat-icon>edit</mat-icon> Edit</a
  >
</mat-toolbar>
<div class="content-wrapper">
  <div class="order-details-wrapper">
    <div class="order-products">
      <h2>Products</h2>
      <mat-card *ngFor="let product of order.products">
        <mat-card-subtitle
          >Template: {{ product.templateId }}</mat-card-subtitle
        >
        <mat-card-title
          >{{ product.gtin }} (qnty: {{ product.quantity }})</mat-card-title
        >
        <mat-card-subtitle
          >Serial numbers ({{ product.serialNumberType }}):</mat-card-subtitle
        >
        <mat-card-content *ngIf="checkIfArray(product.serialNumbers)">
          <p *ngFor="let sNo of product.serialNumbers">
            <span>{{ sNo }}</span>
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="order-details">
      <h2>Order details</h2>
      <div class="row">
        <dl>
          <dt>OMS ID</dt>
          <dd>{{ order.omsId }}</dd>

          <dt>Factory ID</dt>
          <dd>{{ order?.orderDetails?.factoryId || "N/A" }}</dd>

          <dt>Factory Name</dt>
          <dd>{{ order?.orderDetails?.factoryName || "N/A" }}</dd>

          <dt>Factory Address</dt>
          <dd>{{ order?.orderDetails?.factoryAddress || "N/A" }}</dd>

          <dt>Factory Country</dt>
          <dd>{{ order?.orderDetails?.factoryCountry || "N/A" }}</dd>

          <dt>Post Number</dt>
          <dd>{{ order?.orderDetails?.poNumber || "N/A" }}</dd>
        </dl>
        <dl>
          <dt>Expected Start Date</dt>
          <dd>{{ order?.orderDetails?.expectedStartDate || "N/A" }}</dd>

          <dt>Product Line ID</dt>
          <dd>{{ order?.orderDetails?.productionLineId || "N/A" }}</dd>

          <dt>Product Code</dt>
          <dd>{{ order?.orderDetails?.productCode || "N/A" }}</dd>

          <dt>Product Descriptin</dt>
          <dd>{{ order?.orderDetails?.productDescription || "N/A" }}</dd>
        </dl>
      </div>
    </div>
  </div>
</div>
