.toolbar-spacer {
  flex: 1 1 auto;
}

.content-wrapper {
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  background-color: #fff;
  margin-top: 1rem;
}

.order-details-wrapper {
  display: flex;
  gap: 1rem;
}

.order-products {
  flex-basis: 30%;
}

.mat-card {
  margin-bottom: 1rem;
}

.order-details {
  width: 100%;
}

.order-details dt {
  font-weight: bold;
}

.row {
  display: flex;
}

.row > * {
  flex-basis: 50%;
  gap: 0.5rem;
}
