<table mat-table [dataSource]="ordersData" matSort>
  <!-- Oms Id Column -->
  <ng-container matColumnDef="omsId">
    <th mat-header-cell *matHeaderCellDef>OMS ID</th>
    <td mat-cell *matCellDef="let order">{{ order.omsId }}</td>
  </ng-container>

  <!-- Order Id Column -->
  <ng-container matColumnDef="orderId">
    <th mat-header-cell *matHeaderCellDef>Order ID</th>
    <td mat-cell *matCellDef="let order">{{ order.orderId }}</td>
  </ng-container>

  <!-- Expected Completion Time Column -->
  <ng-container matColumnDef="expectedCompletionTime">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      Exp. completion time
    </th>
    <td mat-cell *matCellDef="let order">{{ order.expectedCompletionTime }}</td>
  </ng-container>

  <!-- Actions Column -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let order">
      <a
        mat-raised-button
        color="primary"
        [routerLink]="['/orders/' + order.orderId]"
        >View</a
      >
      <a
        mat-raised-button
        color="accent"
        [routerLink]="['/orders/edit/' + order.orderId]"
        style="margin-left: 0.5rem"
        >Edit</a
      >
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
</table>
