<div class="login-wrapper">
  <form (submit)="signIn($event)">
    <p>
      <mat-form-field appearance="standard">
        <mat-label>E-Mail</mat-label>
        <input matInput type="email" [formControl]="email" required />
        <mat-hint>test@test.com</mat-hint>
        <mat-error *ngIf="email.invalid">{{
          email.hasError("required") ? "Enter your email." : "Invalid email."
        }}</mat-error>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="standard">
        <mat-label>Password</mat-label>
        <input matInput type="password" [formControl]="password" required />
        <mat-hint>password</mat-hint>
        <mat-error *ngIf="password.invalid"
          >You must enter a password.</mat-error
        >
      </mat-form-field>
    </p>
    <p style="text-align: center">
      <button mat-flat-button color="primary">Sign in</button>
    </p>
  </form>
</div>
