.login-wrapper {
  width: min(100%, 300px);
  margin-inline: auto;
  transform: translateY(50%);
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 2rem;
  box-shadow: 0.15rem 0.15rem 0.75rem gray;
}

.mat-form-field {
  width: 100%;
}
