<mat-toolbar class="mb-1">
  <span>Orders</span>
  <span class="toolbar-spacer"></span>
  <a mat-raised-button [routerLink]="['/orders/create']"
    ><mat-icon>add</mat-icon> New order</a
  >
</mat-toolbar>

<app-orders-table></app-orders-table>
