<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list *ngIf="(user$ | async) !== null">
      <mat-divider></mat-divider>
      <a mat-list-item [routerLink]="['/orders']"
        ><mat-icon>list_alt</mat-icon>Orders</a
      >
      <a mat-list-item [routerLink]="['/orders/create']"
        ><mat-icon>add</mat-icon> New order</a
      >
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Metronik naloga - Naročila</span>
      <span class="toolbar-spacer"></span>
      <button
        [matMenuTriggerFor]="userMenu"
        mat-button
        *ngIf="user$ | async as user"
      >
        <mat-icon>account_circle</mat-icon> {{ user.name }}
      </button>
      <mat-menu #userMenu>
        <button mat-menu-item (click)="signOut()">Sign out</button>
      </mat-menu>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
